<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunxingzh.wireless">

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".config.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_180"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fR88ObFbSgxBAqNVYcKEAm5w4NsFjaH0" />
        <!--友盟统计-->
        <meta-data android:value="58183fb8e88bad5353001ff6" android:name="UMENG_APPKEY"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".mvp.ui.activity.WelcomActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mvp.ui.activity.GuidedActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".mvp.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".mvp.ui.activity.VideoPlayActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".mvp.ui.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".mvp.ui.activity.WifiManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".mvp.ui.activity.WifiMapActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".mvp.ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.yunxingzh.wireless.mvp.ui.activity.ScanCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".mvp.ui.activity.SpeedTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DialogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BottomDialog"></activity>

        <activity
            android:name=".mvp.ui.activity.WifiSpiritedActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>


        <!--定位所需服务-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" /><![CDATA[
            android:name=".mvp.ui.activity.ScanCodeActivity"
            android:allowTaskReparenting="false"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="true"
            android:configChanges="fontScale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:taskAffinity="com.qihoo.browser.barcode"
            android:theme="@android:style/Theme.NoTitleBar" />

        ]]><!-- 定位所需服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".service.FWService"
            android:exported="true"
            android:process="org.focusapp.wifi.service" />
    </application>

</manifest>